/*homepage*/
body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

main h1 {
  flex: 0 0 100%;
}

section {
  max-width: 1000px;
  width: 100%;
  margin: 40px auto;
}

section.fullwidth {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

header {
  display: flex;
  justify-content: space-evenly;
}

.logo a {
  width: 15%;
  margin: 10px;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  padding: 10px;
  text-transform: uppercase;
}

.fas {
  margin-bottom: auto;
}

.search-bar {
  height: 26px;
}
.nav-links a:hover {
  text-decoration: underline;
}

.nav-links {
  display: flex;
  align-items: end;
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

.background-image {
  background-image: url(/images/Girlrunning.jpeg);
  position: relative;
  min-height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta-button {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #2ad5c0;
  font-size: 2rem;
  padding: 20px;
  font-weight: bold;
}

.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}

.cta-button h1 {
  font-size: 2rem;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  background-color: #2ad5c0;
  padding: 20px;
}

.footer-links a:hover {
  text-decoration: underline;
}

footer h4 {
  margin: 0;
}

/*Jackets Page*/

.jacket-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 70%;
}

.jacket-product {
  width: 30%;
  flex-grow: 1;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}

.jackets-page {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  margin: 40px auto;
}

.jacket-img {
  width: 100%;
}

.gender-nav a:hover {
  text-decoration: underline;
}

.gender-nav {
  margin: 0 auto;
  flex: 0 1 20%;
  font-size: 0.8em;
}

.class-cta {
  background-color: #2ad5c0;
  font-weight: bold;
  padding: 10px 40px;
  display: block;
  margin-top: 10px;
}

.checkout-item .class-cta {
  padding: 10px 10px;
  font-size: 0.8rem;
}

/*Gender Page*/

.gender-main {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  margin: 40px auto;
}

.gender-list {
  display: flex;
  flex-wrap: wrap;
}

.gender-products {
  width: 30%;
  flex-grow: 1;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}

.gender-button {
  background-color: #2ad5c0;
  font-weight: bold;
  padding: 10px 40px;
}

/*spesific page*/

.spesific-list {
  display: flex;
  flex-wrap: wrap;
}

.spesific-product {
  width: 30%;
  flex-grow: 1;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}

.spesific-header {
  text-align: center;
}

.spesific-cta {
  background-color: #2ad5c0;
  font-weight: bold;
  padding: 10px 40px;
}

.blue-raincoat {
  text-align: center;
}

/*about page*/

.tree-img {
  width: 100%;
}

.forest-background {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.about-header {
  text-align: center;
  font-size: 2em;
}

.box {
  max-width: 400px;
  text-align: center;
  hyphens: auto;
}

/*contact page*/

.contact {
  max-width: 1000px;
  margin: auto;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.contact-form form h1 {
  margin-top: 0;
}

.contact-form > * {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 16px;
}

label {
  display: block;
  margin: 5px;
}

.error {
  color: crimson;
}

.contact-img {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

/*Checkout page*/

main.checkout {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 40px;
}
.checkout-main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  gap: 20px;
}

.checkout-item {
  display: flex;
  flex-direction: column;
  flex: 1 1 70%;
  gap: 10px;
}

.checkout-left {
  flex: 0 0 30%;
}

.checkout-left > * {
  display: flex;
  flex-direction: column;
}

.checkout-left input {
  width: 300px;
  margin-bottom: 10px;
}

/* Utility */
.d-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bt-gray {
  border-top: 1px solid gray;
}

.justify-between {
  justify-content: space-between;
}

.justify-left {
  justify-content: flex-start;
}

.col {
  flex: 1 0 50%;
}

/* Confirmation */

.order-info p {
  margin: 0;
}

.order-info p:first-child {
  margin-bottom: 20px;
}

.order-continue img {
  width: 50%;
}

.col.order-continue {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmation {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
}

/* cart page */

.products-container {
  justify-content: space-around;
  margin: 0 auto;
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}

.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgray;
  margin: 0 auto;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.product-title {
  width: 50%;
}

.price {
  display: flex;
  align-items: center;
}

.amount {
  display: flex;
  align-items: center;
}

.total {
  display: flex;
  align-items: center;
}

.product {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
  align-items: flex-start;
  border-bottom: 1px solid lightgray;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.product img {
  box-sizing: border-box;
  padding: 1rem;
  max-width: 100%;
  border-bottom: 1px solid lightgray;
}

.product-information,
.cart-information {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}

.cart-information {
  padding-bottom: 1rem;
}

.cart-summary {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 4px;
  background-color: #2ad5c0;
}

.cart-summary h3 {
  line-height: 50px;
  margin: 0;
}

.cart-summary .class-cta {
  background-color: white;
  border-radius: 4px;
  line-height: 30px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .products-container {
    margin: 25px;
  }

  .products {
    display: flex;
    flex-direction: column;
  }

  .cart-summary {
    flex-direction: column;
  }

  .cart-summary h3 {
    text-align: center;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cta-button {
    left: 20px;
    right: 20px;
    text-align: center;
  }

  .background-image {
    background-position: -120px center;
  }

  main h1 {
    text-align: center;
  }

  .gender-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1 0 100%;
  }

  .jacket-product {
    width: 50%;
  }

  .gender-products {
    width: 50%;
  }

  .tree-img {
    object-fit: cover;
    height: 200px;
  }

  .contact-form {
    flex-direction: column;
    align-items: center;
  }

  .contact-form > * {
    width: 100%;
    padding: 30px 30px 0px;
    box-sizing: border-box;
  }

  .checkout-main {
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .confirmation section {
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 500px) {
  .jacket-product {
    width: 100%;
  }

  .gender-products {
    width: 100%;
  }
}
