* {
    margin: 0;
}

header{
    background-color: white;
    width: 100%;
    
}

.header-container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    
}

.inner{
    margin: 0 auto;
    max-width: 1024px;
    position: relative;
}

img{
width: 25%;
position: relative;
right: 200px;
}

.nav__list{
display: flex;
list-style: none;
padding: 0;
align-content: center;
position: relative;
top: 100px;
}

nav li{
    padding: 30px;
    
}

nav ul li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 1.5em;
}

.search-icon{
    height: 30px;
    position: relative;
    top: 90px;
    margin-left: 120px;
    
}

nav ul :nth-child(4){
    margin-right: 80px;
}


.background-image{
    background-image: url(./images/Girl\ running.jpeg);
    width: 100vw;
    height: 650px;
    margin-top: 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;

}

.cta{
    background-color: #2AD5C099;
    position: absolute;
    z-index: 10;
    top: 300px;
    right: 600px;
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    color: black;
    

}

